.Header {
    text-align: left;
  }
  h1 {
    color: #000;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;
  }
  ul {
    margin: 0 auto;
    padding: 0;
  }
  li {
    list-style: none;
    font-size: 16px;
    color: rgb(119, 116, 116);
    font-weight: 100;
    line-height: 19px;
    margin: 0;
    padding: 0;
  }
  
  li:first-letter {
    text-transform: capitalize;
  }